.pokemon{
  height: 100%;
  width: 300px;
  margin: 50px;
  /* background: gold; */
  box-sizing: border-box;
}
.main{
  background: black;
  position: relative;
  top:400px;
  padding: 25px;
  
}
.buttons{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
  align-content: space-around;
  
}

