body{
  background: red;
}
.top{
  padding: 50px;
  width: 100%;
  height: 400px;
  display: flex;
  background: url("https://i.ytimg.com/vi/n03yTW2_ZSw/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: fixed;
  align-items: center;
  justify-content: center;
  z-index: 5;
  box-sizing: border-box;
}
.battle_button{

}
.pokemon{
  height: 100%;
  width: 300px;
  margin: 50px;
  /* background: green; */
  box-sizing: border-box;
}
/* header{
  position: fixed;
} */
.main{
  background: rebeccapurple;
  position: relative;
  top:400px;
  padding: 25px; 
}
.App-logo {
  animation: App-logo-spin infinite 2s linear;
  height: 80px;
}
.buttons{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-start;
  align-content: space-around;
}
.poke_button{
  color: floralwhite;
  margin: 25px;
  height: 75px;
  background: firebrick;
  border: 0;
  cursor: pointer;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

